body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	background-color: #060606;
}
header{
	background-image: url('crop@1X.png');
	background-size: cover;
	height: 150px;
}
nav a{
	text-decoration: none;
	color: #FA7104FF;
	font-size: 46px;
	display: block;
	padding: 20px;
	line-height: 60px;
}
nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
}
nav ul li {
	margin: 40px -7px 0 0;
	display:inline-block;
}
nav a:hover{
	color:#D95D25FF;
}
nav ul ul {
	 display: none;
	position: absolute;
	top: 100%;
}
nav ul li:hover > ul {
	display:inherit;
}
nav ul ul li {
	 min-width:170px;
	float:none;
	 display:list-item;
	position: relative;
}
nav ul ul ul {
	 position: absolute;
	top:0;
	left:100%;
}
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
.logo{
	float: right;
	width: 240px;
	height: 40px;
	margin-top: -70px;
	margin-right: 20px;
}
.gallery{
	max-width: 100%;
	height: 630px;
}
.photo-1{
	height: 236px;
	width: 338px;
	position: absolute;
	left:0;
	top:600px;
	margin-left: 25px;
	box-shadow: 18px 18px 3px #A3A3A3FF;
}
.photo-2{
	height: 236px;
	width: 338px;
	position: absolute;
	left:400px;
	top:600px;
	margin-left: 112px;
	box-shadow: 18px 18px 3px #DA9924FF;
}
.photo-3{
	height: 236px;
	width: 338px;
	position: absolute;
	right:0px;
	top:600px;
	margin-right: 25px;
	box-shadow: 18px 18px 3px #A3A3A3FF;
}
.gallery h1{

		color: rgba(173, 120, 53, 255);
		font-size: 40.66614pt;
		position: absolute;
		top: 400px;
		left: 510px;
}
 .gallery h3{
	color: rgba(255, 255, 255, 255);
	text-align: center;
	font-size: 16px;
}
   
  .accordian h1{
  	font-size: 32px;
  	color:#fffff0;
  	opacity: 0;
  }
  .accordian h1:hover{
  	opacity: 1;
  }
     
    .accordian {
    max-width: 100%; 
    height: 500px;
    overflow: hidden;
   margin-top:250px;
   margin-right: 50px;
   -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    }
     
    /*Небольшой хак для предотвращения мелькания на некоторых браузерах*/
    .accordian ul {
    max-width: 100%;
    }
     
    .accordian li {
    position: relative;
    display: block;
    width: 180px;
    float: left;
    border-left: 1px solid #888;
    /* создание тени */     
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);	
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    /* Создание анимации с помощью переходов */
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;	
    transition: all 0.5s;
    }
     
    /* Уменьшить ширину для неактивных изображений */
    .accordian ul:hover li {
    width: 80px;
    }
     
    /* Задание ширины изображения при поднесении к ней курсора */
    /* Данный стиль (li:hover) переопределит ul:hover */
    .accordian ul li:hover {
    width: 800px;
    }
     
    .accordian li img {
    display: block;
    height: 500px;
    width: 900px;
    }
     
    /* Стиль для блока, содержащего ссылку */
    .image_title {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;	
    width: 600px;	
    }
     
    /* Стиль для ссылки */
    .image_title a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size: 16px;
    }

.footer{
	max-width: 100%;
	height: 600px;
}
.block-footer{
	margin-bottom: 114px;
	margin-left: 443px;
	margin-top: 40px;
	background-color: #0b0b0b;
	height: 519px;
	width: 779px;
}
.block-footer h1{
	font-size: 20.66614pt;
	color: #1b140b;
	text-align: right;
}
.block-footer img{
	position: absolute;
	left: 350px;
	height: 450px;
}
.block-footer ul{
	list-style-type: none;
	position: relative;
	top:30px;
	text-align: right;

}
.block-footer ul li a{
	text-decoration: none;
	font-size: 24px;
	color: #E36A1BFF;
	margin-right: 10px;
	padding-top: 10px;
	margin-top: 10px;
}
.container{
	display: grid;
	grid-template-columns: 1200px;
	grid-template-rows: 150px 630px 500px 600px;
	grid-template-areas: "h h h h h h h h h h h h "
						 "g g g g g g g g g g g g "
						 "a a a a a a a a a a a a "
						 "f f f f f f f f f f f f"
}

.header {
    grid-area: h;
}

.gallery {
    grid-area: g;
}

.accordian {
    grid-area: a;
}

.footer {
   grid-area: f;
}
@media screen and (min-width: 640px) {
    .container {
        grid-template-areas:
        "h h "
        "h h " 
        "g g "
        "g g "
        "g g "
        "g g "
        "a a a a"
         "f f f f ";}
    ;}